.time {
  font-family: Indy Sans, sans-serif;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
  color: #646464;
  display: flex;
  position: relative;
  align-items: center;
  padding: 24px 0 24px 20px;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid #bdbdbd;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background: #888;
    left: 27px;
    top: 0;
  }
}

.content {
  padding: 20px;
  position: relative;
  border: 1px solid #888;
  font-weight: 300;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .header {
    margin: 0 0 10px;
    line-height: 26px;
    font-size: 19px;
    font-weight: 700;
    color: #222;
    // h3
  }

  .main {
    .header {
      line-height: 27px;
      font-size: 1.17em;
      margin: 0.8em 0 16px;
    }
    h3 {
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    p {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      //
      font-size: 19px;
      line-height: 1.44em;
    }
  }
}

.info {
  display: flex;
  background-color: #fff;
  border: 1px solid #888;
  border-top: 0;
  padding: 20px 20px 19px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .name {
    font-size: 14px;
    font-weight: 700;
    color: #ec1a2e;
    &:after {
      display: inline-block;
      content: "|";
      color: #888;
      margin: 0 5px;
    }
  }
  .date {
    font-size: 14px;
    color: #888;
    font-weight: 400;
  }
}
